.hero {
  background-size: cover;
  background-position: center;
  padding: 5px 0; /* Adjust padding as needed */
  color: white;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}



@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
  .hero h2 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
  .hero p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}