.Home {

    background: black;
  }

.about-us-container{
border: 3px dashed grey;
/* padding: 15px; */
/* margin: 25px; */
text-align: center;
background: black;
}
p{
    color: white;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

.about-us-title {
    color: #ddd;
    text-align: left;
  }