.footer {
  min-height: 80px;
  background: #8c8c8c;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #44444c;
  color: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
