.CardWrapper{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: rgb(119, 117, 117);
    padding: 5px;
    border-radius: 15px;
}
.CardImage{
    width: 100%;
    height: 50%;
    object-fit: cover;
    
}
.CarData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}